#window {
    -fx-background-color: #ff9f43;
}

#translateTextField {
    -fx-background-color:  #ffbe76;
    -fx-font-family: Fondamento;
}

#textArea {
    -fx-font-family: Sriracha;
    -fx-background-image: url("text-area-background.jpeg");
}

#personalDictionary {
    -fx-font-family: Sriracha;
}

#listSuggestWord {
    -fx-font-family: Sriracha;
}

#addWordTextField {
    -fx-background-color: #ffbe76;
}

#chooseAddWord {
    -fx-font-family: Sriracha;
}

#translateButton {
    -fx-background-color: #ffbe76;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#addToPersonalDictButton {
    -fx-background-color: #ff9f43;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
    -fx-border-color: #ffbe76;
    -fx-border-radius: 90%;
}

#modifyButton {
    -fx-background-color: #ff9f43;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#speakButton {
    -fx-background-color: #ff9f43;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#chooseButton {
    -fx-background-color: #ffbe76;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#addButton {
    -fx-background-color: #ffbe76;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#deleteButton {
    -fx-background-color: #ffbe76;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#searchButton {
    -fx-background-color: #ffbe76;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#confirmButton {
    -fx-background-color: #ffbe76;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#cancelButton {
    -fx-background-color: #ffbe76;
    -fx-font-family: Fondamento;
    -fx-font-size: 13;
}

#footer {
    -fx-font-family: Fondamento;
    -fx-font-size: 13;

}
